---

---

<section class="min-h-svh bg-gradient-to-b from-slate-100 to-slate-700">
  <h2>Como Podemos Ajudar</h2>
  <h3>
    Oferecemos assessoria jurídica completa para defender os direitos dos
    trabalhadores em diversas situações, como:
  </h3>
  <article>
    Rescisão Indireta (quando o empregado "dá" a justa causa no patrão)
  </article>
  <article>Reversão de Justa Causa Injusta</article>
  <article>Horas Extras e Adicional Noturno não Pagos</article>
  <article>Assédio Moral e Sexual no Ambiente de Trabalho</article>
  <article>Acidentes de Trabalho e Doenças Ocupacionais</article>
  <article>Desvio e Acúmulo de Função</article>
  <article>
    Reconhecimento de Vínculo Empregatício (trabalho sem carteira assinada)
  </article>
  <article>Irregularidades no pagamento de Férias, 13º Salário e FGTS</article>
</section>
