---

---

<section class="min-h-svh bg-gradient-to-b from-emerald-100 to-emerald-700">
  <nav>
    <div>logo</div>
    <ul>
      <li><a href="">Início</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Por que nós?</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Depoimentos</a></li>
      <li><a href="">FAQ</a></li>
      <li><a href="">Contato</a></li>
    </ul>
  </nav>
  <h1>Dra. Vera Júlia Matos - Advogada Trabalhista</h1>
  <h2>Defendendo Seus Direitos no Trabalho</h2>
  <p>
    Sofreu uma injustiça no ambiente de trabalho? Nossa especialidade é garantir
    que seus direitos sejam respeitados e que você receba a compensação que
    merece.
  </p>
  <a href="">Agende uma Análise Gratuita do seu Caso</a>
  <a href="">Fale Conosco pelo WhatsApp</a>
</section>
