---

---

<section class="min-h-svh bg-gradient-to-b from-red-100 to-red-700">
  <h2>Nossa Missão é a Sua Justiça</h2>
  <p>
    Fundado pela Dra. Ana Júlia Matos, nosso escritório nasceu da convicção de
    que todo trabalhador merece respeito, dignidade e um tratamento justo. Com
    anos de experiência dedicados exclusivamente ao direito do trabalho,
    compreendemos os desafios e a angústia que nossos clientes enfrentam.
    Abordamos cada caso com empatia, rigor técnico e a determinação necessária
    para lutar incansavelmente por seus direitos, do início ao fim do processo
  </p>
  <img src="" alt="" />
</section>
