---

---

<section class="min-h-svh bg-gradient-to-b from-pink-100 to-pink-700">
  <h2>Dê o Primeiro Passo Para Defender Seus Direitos</h2>
  <h3>
    Sua mensagem é confidencial e será analisada por um especialista. Preencha o
    formulário abaixo ou, se preferir, nos chame diretamente no WhatsApp.
  </h3>
  <!-- forms -->
  <!-- integração whatsapp -->
</section>
