---
import { Image } from "astro:assets";

import logo from "../../assets/hero-assets/VJM (1)-Photoroom.png";
---

<footer class="min-h-svh bg-branco-gelo p-6 flex flex-col gap-10">
  <Image
    src={logo}
    alt="logo"
    width={500}
    height={500}
    class="w-50 h-50 mx-auto"
  />

  <section
    class="text-center font-semibold font-spectral text-lg text-cinza-escuro pb-2 border-b-2 border-dourado-ocre"
  >
    <h2>Vera Júlia Matos</h2>
    <h3>Advogada Trabalhista</h3>
    <h4>Defendendo quem constrói o país</h4>
  </section>
  <address
    class="not-italic font-serif text-lg text-center pb-2 border-b-2 border-dourado-ocre"
  >
    <p>Endereço Fictício:</p>
    <p>Av. Tancredo Neves, 1234, Sala 56</p>
    <p>Edifício Empresarial Futuro</p>
    <p>Salvador - BA, CEP 41820-021</p>
  </address>

  <section
    class="font-serif text-lg text-center pb-2 border-b-2 border-dourado-ocre"
  >
    <p>Tel: (XX) 3333-4444</p>
    <p>Email: contato@matosadvocacia.com.br</p>
  </section>

  <p class="font-serif text-lg text-center pb-2 border-b-2 border-dourado-ocre">
    © 2025 Ana Júlia Matos Advocacia. Todos os direitos reservados.
  </p>

  <p
    class="italic font-serif text-base text-justify my-auto p-2 bg-white outline-2 outline-dourado-ocre"
  >
    Disclaimer: Este é um site fictício desenvolvido exclusivamente para fins de
    portfólio.
  </p>
</footer>
