---

---

<section class="min-h-svh bg-gradient-to-b from-blue-100 to-blue-700">
  <img src="" alt="[Seu Logo]" />
  <p>Ana Júlia Matos - Advogada Trabalhista</p>
  <p>Defendendo quem constrói o país</p>
  <address>
    <p>Endereço Fictício:</p>
    <p>Av. Tancredo Neves, 1234, Sala 56</p>
    <p>Edifício Empresarial Futuro</p>
    <p>Salvador - BA, CEP 41820-021</p>
  </address>

  <section>
    <p>Tel: (XX) 3333-4444</p>
    <p>Email: contato@matosadvocacia.com.br</p>
  </section>
  <p>© 2025 Ana Júlia Matos Advocacia. Todos os direitos reservados.</p>
  <p>
    Disclaimer: Este é um site fictício desenvolvido exclusivamente para fins de
    portfólio.
  </p>
</section>
