---
import { Image } from "astro:assets";

import especSVG from "../../assets/why-us-assets/script-1601-svgrepo-com.svg";
import peopleSVG from "../../assets/why-us-assets/people-hugging-svgrepo-com.svg";
import lupaSVG from "../../assets/why-us-assets/magnifying-glass-tilted-right-svgrepo-com.svg";
import numbersSVG from "../../assets/why-us-assets/numbers-fill-svgrepo-com.svg";
---

<section
  id="diferencial"
  class="min-h-svh bg-azul-marinho-escuro flex flex-col gap-10 p-6 lg:bg-[url(/diferencial/bgwhyus.png)] lg:bg-cover lg:bg-bottom lg:p-8"
>
  <h2
    class="font-spectral text-3xl text-center text-dourado-ocre font-semibold"
  >
    Por Que Confiar em Nossa Advocacia?
  </h2>
  <section
    class="grid grid-rows-4 grid-cols-1 gap-4 md:grid-rows-2 md:grid-cols-2 md:gap-8 md:m-auto lg:gap-10"
  >
    <article
      class="p-4 bg-branco-gelo flex flex-col gap-4 max-w-100 mx-auto
             lg:max-w-120 lg:lg:h-70 lg:gap-8 hover:scale-110 duration-500 ease-in-out"
    >
      <Image
        src={especSVG}
        alt="icone"
        width={20}
        height={20}
        class="mx-auto w-12 h-12"
      />
      <h3
        class="text-xl text-center font-semibold text-dourado-ocre font-spectral"
      >
        Especialização Comprovada
      </h3>
      <p class="text-center text-lg font-serif font-medium">
        Foco 100% em Direito do Trabalho. Não dividimos nossa atenção, o que
        garante profundo conhecimento da sua causa.
      </p>
    </article>
    <article
      class="p-4 bg-branco-gelo flex flex-col gap-4 max-w-100 mx-auto
             lg:max-w-120 lg:lg:h-70 lg:gap-8 hover:scale-110 duration-500 ease-in-out"
    >
      <Image
        src={peopleSVG}
        alt="icone"
        width={20}
        height={20}
        class="mx-auto w-12 h-12"
      />
      <h3
        class="text-xl text-center font-semibold text-dourado-ocre font-spectral"
      >
        Atendimento Humanizado
      </h3>
      <p class="text-center text-lg font-serif font-medium">
        Entendemos o seu lado. Aqui, você não é apenas um número de processo.
        Você será ouvido(a) e acolhido(a) em todas as etapas.
      </p>
    </article>
    <article
      class="p-4 bg-branco-gelo flex flex-col gap-4 max-w-100 mx-auto
             lg:max-w-120 lg:lg:h-70 lg:gap-8 hover:scale-110 duration-500 ease-in-out"
    >
      <Image
        src={lupaSVG}
        alt="icone"
        width={20}
        height={20}
        class="mx-auto w-12 h-12"
      />
      <h3
        class="text-xl text-center font-semibold text-dourado-ocre font-spectral"
      >
        Transparência Total
      </h3>
      <p class="text-center text-lg font-serif font-medium">
        Explicamos cada passo do processo em linguagem clara, sem "juridiquês".
        Você sempre saberá o que está acontecendo com o seu caso.
      </p>
    </article>
    <article
      class="p-4 bg-branco-gelo flex flex-col gap-4 max-w-100 mx-auto
             lg:max-w-120 lg:h-70 lg:gap-8 hover:scale-110 duration-500 ease-in-out"
    >
      <Image
        src={numbersSVG}
        alt="icone"
        width={20}
        height={20}
        class="mx-auto w-12 h-12"
      />
      <h3
        class="text-xl text-center font-semibold text-dourado-ocre font-spectral"
      >
        Resultados Concretos
      </h3>
      <p class="text-center text-lg font-serif font-medium">
        Possuímos um histórico de sucesso em negociações e processos judiciais,
        buscando sempre a melhor solução para nossos clientes.
      </p>
    </article>
  </section>
</section>
