---

---

<section class="min-h-svh bg-gradient-to-b from-orange-100 to-orange-700">
  <h2>Por Que Confiar em Nossa Advocacia?</h2>
  <article>
    <h3>Especialização Comprovada:</h3>
    <p>
      Foco 100% em Direito do Trabalho. Não dividimos nossa atenção, o que
      garante profundo conhecimento da sua causa.
    </p>
  </article>
  <article>
    <h3>Atendimento Humanizado:</h3>
    <p>
      Entendemos o seu lado. Aqui, você não é apenas um número de processo. Você
      será ouvido(a) e acolhido(a) em todas as etapas.
    </p>
  </article>
  <article>
    <h3>Transparência Total:</h3>
    <p>
      Explicamos cada passo do processo em linguagem clara, sem "juridiquês".
      Você sempre saberá o que está acontecendo com o seu caso.
    </p>
  </article>
  <article>
    <h3>Resultados Concretos:</h3>
    <p>
      Possuímos um histórico de sucesso em negociações e processos judiciais,
      buscando sempre a melhor solução para nossos clientes.
    </p>
  </article>
</section>
